body{
	background-image:url("netflix.jpg");
	background-position:50px;
	background-image:linear-gradient(white,yellow,blue);	
	font-weight:bold;
		
}
p1{
	font-size:40px;
	font-weight:bold;
		
}
.comed{	background-color:gray;
	height:100px;
	margin:20px;
	border:5px solid blue;
	width:100px;
	color:red;
	border-radius:50%;
	text-align:center;
		
}
p2{
	font-size:40px;
	font-weight:bold;
		
}
h2{
	font-size:40px;
	
	
}
h3{
	font-size:40px;
	
	
	
}

p3{
	font-size:40px;
	font-weight:bold;
		
}
p4{
	font-size:40px;
	font-weight:bold;
		
}

}
.hist{	background-color:gray;
	height:100px;
	margin:20px;
	border:5px solid blue;
	width:100px;
	color:red;
	border-radius:50%;
	text-align:center;
}

#ah{
	font-weight:bold;
	align:center;
	font-size:40px;
	background-image:linear-gradient(white,red);
	
}
#pd{
	font-weight:bold;
	font-size:50px;	
	color:red;
	
}

h6{
	background-image:url("netflix.jpg");
	font-size:40px;
	color:blue;
	background-size:100%;

		
}
img{
	
	margin:20px;
	border:5px solid black;
	border-radius:10%;
	
}

#movie{
	font-size:50px;
	
	
}
ul{
	list-style-type:none;
	
	
}


